@font-face {
	font-family: "Soyuz Grotesk";
	font-style: normal;
}


body {
	padding: 0;
	background: #F0F2F2;
	margin: 0;
	font-family: "Soyuz Grotesk";
}

h1, h2, h3, h4, h5, h6 {
	font-size: 50px;
	padding: 0;
	margin: 0;
	color: #2C2C2D;
	font-family: "Soyuz Grotesk";
}

ul, li {
	display: block;
	font-size: 20px;
	padding-right: 300px;

}


.inst h1 {
	color: #858585;
	font-size: 45px;
	text-align: center;

}

.inst {
	margin-top: 420px;

}

.hello {
	padding-top: 70px;
	margin-left: -280px;
}

}
.one {

	margin-left: 0px;

}

.two {
	margin-left: 100px;
}

.three {
	margin-left: 0px;
}

.four {
	margin-left: 100px;
}

.img {
	padding-top: 70px;	
	margin-left: 135px;
	position: absolute;

	
}

.first {
	margin-right: 80px;
	
}

.second {
	margin-right: 80px;

}

a {
	text-decoration: none;
	color: #2C2C2D

}

a:hover {
	color: #858585;
	border-style: none;
	transition-duration:1s, 100ms, 100ms;
	transform: scale(1.0);
}

.end h1 {
	display: block;
	color: #DBDDDD;
	text-align: center;
	font-size: 30px;
	margin-top: 10px;

}

.container {
	max-width: 1170px;
	margin: 0px auto;
}

@media (max-width:1440px){
	.container{
		width: 1170px;
	}

	.hello {
		margin-left: -40px;
		padding-top: 70px;
		
	}
	.hello h1 {
		font-size: 48px;
	}

	.inst h1 {
		font-size: 40px;
	}

	.img {
		padding-top: 70px;	
		margin-left: 280px;
		position: absolute;
	}

	.first {
	margin-right: 30px;
	
	}

	.second {
	margin-right: 30px;

	}

	.img img:nth-child(1) {
		width: 263px;
		height: 350px;
	}

	.img img:nth-child(2) {
		width: 297px;
		height: 397px;
	}

	.img img:nth-child(3) {
		width: 341px;
		height: 454px;
	}

	.inst {
	margin-top: 350px;
	}
}

@media (max-width:1200px){
	.container{
		width: 1140px;
	}

	.hello {
		margin-left: 10px;
		padding-top: 70px;
		
	}
	.hello h1 {
		font-size: 40px;
	}

	.inst h1 {
		font-size: 40px;
	}

	.img {
		padding-top: 70px;	
		margin-left: 310px;
		position: absolute;
	}

	.first {
	margin-right: 30px;
	
	}

	.second {
	margin-right: 30px;

	}

	.img img:nth-child(1) {
		width: 205px;
		height: 272px;
	}

	.img img:nth-child(2) {
		width: 223px;
		height: 300px;
	}

	.img img:nth-child(3) {
		width: 268px;
		height: 358px;
	}

	.inst {
	margin-top: 350px;
	}
}

@media (max-width:1199px){
	.container{
		width: 960px;
	}
	.hello {
		margin-left: -45px;
		padding-top: 70px;
		
	}
	.hello h1 {
		font-size: 40px;
	}

	.inst h1 {
		font-size: 40px;
	}

	.img {
		padding-top: 70px;	
		margin-left: 240px;
		position: absolute;
	}

	.first {
	margin-right: 30px;
	
	}

	.second {
	margin-right: 30px;

	}

	.img img:nth-child(1) {
		width: 205px;
		height: 272px;
	}

	.img img:nth-child(2) {
		width: 223px;
		height: 300px;
	}

	.img img:nth-child(3) {
		width: 268px;
		height: 358px;
	}

	.inst {
	margin-top: 350px;
	}
}

@media (max-width:991px){
	.container{
		width: 720px;
	}

	.hello {
		margin-left: -110px;
		padding-top: 70px;
		
	}
	.hello h1 {
		font-size: 40px;
	}

	.inst h1 {
		font-size: 40px;
	}

	.img {
		padding-top: 70px;	
		margin-left: 130px;
		position: absolute;
	}

	.first {
	margin-right: 30px;
	
	}

	.second {
	margin-right: 30px;

	}

	.img img:nth-child(1) {
		width: 190px;
		height: 252px;
	}

	.img img:nth-child(2) {
		width: 197px;
		height: 266px;
	}

	.img img:nth-child(3) {
		width: 234px;
		height: 313px;
	}

	.inst {
	margin-top: 350px;
	}
}

@media (max-width:767px){
	.container{
		width: 540px;
	}

	.hello {
		margin-left: -110px;
		padding-top: 70px;
		
	}
	.hello h1 {
		font-size: 30px;
	}

	.inst h1 {
		font-size: 30px;
	}

	.img {
		padding-top: 70px;	
		margin-left: 80px;
		position: absolute;
	}

	.first {
	margin-right: 30px;
	
	}

	.second {
	margin-right: 30px;

	}

	.img img:nth-child(1) {
		width: 141px;
		height: 187px;
	}

	.img img:nth-child(2) {
		width: 146px;
		height: 197px;
	}

	.img img:nth-child(3) {
		width: 174px;
		height: 233px;
	}

	.inst {
	margin-top: 350px;
	}

	.one {

	margin-left: 10px;

	}

	.two {
	margin-left: 70px;
	}

	.three {
	margin-left: 10px;
	}

	.four {
	margin-left: 70px;
	}
}

@media (max-width:575px){
	.container{
		width: 100%;
	}

	.hello {
		margin-left: 28px;
		padding-top: 76px;
		
	}
	.hello h1 {
		font-size: 31px;
	}

	.inst h1 {
		font-size: 20px;
	}

	.img {
		padding-top: 0px;	
		margin-left: 0px;
		position: absolute;
	}

	.first {
	margin-left: 198px;
	padding-top: 33px;
	padding-bottom: 45px;
	}

	.second {
	margin-left: 28px;

	}

	.third {
		margin-right: 28px;
	}

	.img img:nth-child(1) {
		width: 193px;
		height: 258px;
	}

	.img img:nth-child(2) {
		width: 165px;
		height: 220px;
	}

	.img img:nth-child(3) {
		width: 165px;
		height: 220px;
	}

	.inst {

	padding-top: 45px;

	}

	.inst h1 {
	font-size:22.2px;
	text-align: left;
	margin-left: 28px;
	margin-bottom: 35px;

	}

	.one {

	margin-left: 0px;

	}

	.two {
	margin-left: 60px;
	}

	.three {
	margin-left: 0px;
	white-space: nowrap;
	}

	.four {
	margin-left: 55px;
	}
}
